@import url('https://fonts.googleapis.com/css?family=Raleway&text=bdtem.co.in');

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    user-select: none;
    font-family: Raleway, sans-serif;
}

a {
    font-size: 3rem;
    color: #00b38b;
    text-decoration: none;
}

.cubelike {
    width: 400px;
    height: 400px;
    background: url('./cube.gif');
    background-size: cover;
}
