@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html, body {
    height: 100%;
    display: grid;
    background: linear-gradient(rgb(8, 8, 8), rgb(0, 0, 0));
    user-select: none;
}

.cubelike {
    margin: auto;
    height: 50vw;
    width: 50vw;
    background: url('./cube.gif');
    background-size: contain;
}
